html { 
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

#container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 50% 50%;
    text-align: center;
}

#banner {
    grid-area: 1 / 1 / span 1 / span 2;
}

#ehr-launches {
    grid-area: 2 / 1 / span 2 / span 1;
}

#standalone-launches {
    grid-area: 2 / 2 / span 2 / span 2;
}